src/main/resources/person.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="person">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="firstName" type="xs:string" />
                <xs:element name="lastName" type="xs:string" />
                <xs:element name="city" type="xs:string" />
            </xs:sequence>
            <xs:attribute name="user" type="xs:string" use="required" />
        </xs:complexType>
    </xs:element>
</xs:schema>